<div class="hero-unit">
  <h2>
    FleetOnRails
    <span><%= FleetOnRails::VERSION %></span>
    <small><%= FleetOnRails::REVISION %></small>
  </h2>
  <p class="slead">
    GitLab is open source software to collaborate on code.
    <br>
    Create projects and repositories, manage access and do code reviews.
    <br>
    Read more about GitLab at <a href="http://gitlab.org/" target="_blank">gitlab.org</a>.
  </p>
</div>