<br>

<div class="jumbotron">
  <h2>
    FleetOnRails
    <span><%= FleetOnRails::VERSION %></span>
    <small><%= FleetOnRails::REVISION %></small>
  </h2>
  <p>
    FleetOnRails is a Fleet Management system.
    <br>
    Monitor vehicles and manage vehicle service history
  </p>
</div>