<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="endpoints">
                <h4>Me</h4>
                <div ng-include src="'partials/docs/api/me/me.html'"></div>
                <hr/>

                <h4>Cars</h4>
                <div ng-include src="'partials/docs/api/cars/cars.html'"></div>
                <hr/>

                <h4>Cars < Diagnostic Faults</h4>
                <div ng-include src="'partials/docs/api/diagnostic_faults/diagnostic_faults.html'"></div>
                <hr/>

                <h4>Cars < Diagnostic Statistics</h4>
                <div ng-include src="'partials/docs/api/diagnostic_statistics/diagnostic_statistics.html'"></div>
                <hr/>

                <h4>Cars < Documents</h4>
                <div ng-include src="'partials/docs/api/documents/documents.html'"></div>
                <hr/>

                <h4>Groups < Destinations</h4>
                <div ng-include src="'partials/docs/api/destinations/destinations.html'"></div>
                <hr/>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>