<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="endpoints">
                <h4>Me</h4>
                <div ng-include src="'partials/docs/api/me/me.html'"></div>
                <hr/>

                <h4>Cars</h4>
                <div ng-include src="'partials/docs/api/cars/cars.html'"></div>
                <hr/>

                <h4>Cars < Diagnostic Faults</h4>
                <div ng-include src="'partials/docs/api/diagnostic_faults/car_diagnostic_faults.html'"></div>
                <hr/>

                <h4>Cars < Diagnostic Statistics</h4>
                <div ng-include src="'partials/docs/api/diagnostic_statistics/car_diagnostic_statistics.html'"></div>
                <hr/>

                <h4>Cars < Gps Statistics</h4>
                <div ng-include src="'partials/docs/api/gps_statistics/car_gps_statistics.html'"></div>
                <hr/>

                <h4>Cars < Fuel Entries</h4>
                <div ng-include src="'partials/docs/api/fuel_entries/car_fuel_entries.html'"></div>
                <hr/>

                <h4>Cars < Documents</h4>
                <div ng-include src="'partials/docs/api/documents/car_documents.html'"></div>
                <hr/>

                <h4>Groups < Destinations</h4>
                <div ng-include src="'partials/docs/api/destinations/group_destinations.html'"></div>
                <hr/>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>