<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header ">
            <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">FleetOnRails API</a>
        </div>

        <div class="collapse navbar-collapse" collapse="isCollapsed">
            <ul class="nav navbar-nav">
                <li><a href="#/docs">Documentation</a></li>
                <li><a href="#/oauth">OAuth</a></li>
            </ul>
        </div>
    </div>
</nav>